.overview-content {
    order: 2;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.overview-title {
    order: 1;
    width: 100%;
    font-size: calc(1.9vw + 1.9vh);
}

.overview-description {
    width: 50%;
    padding: 1em;
    line-height: 2.6em;
    font-weight: lighter;
    font-size: calc(0.6vw + 0.6vh);
}

.overview-video {
    width: 40%;
    padding: 2rem;
}